@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    --background: #161229;
    --foreground: #2E1641;
    --middleground: #3A2C7F;
    --mainground: #4C42D9;
    --main: #FF8205;
    --text: #FFFFFF;
    --subtext: #AAAAAA;
    --textlink: #8F79FF;
    --textlink-hover: #866EFF;
}

/* scrollbar-in */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--background);
}
  
::-webkit-scrollbar-thumb {
    background: var(--foreground);
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--middleground);
}
/* scrollbar-out */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Outfit';
}

.text-link {
    color: var(--textlink);
    transition: all 0.3s ease-in-out;
}

.text-link:hover {
    color: var(--textlink-hover);
    transition: all 0.3s ease-in-out;
}

.input-authcredentials {
    border: 2px solid var(--middleground);
    border-radius: 0.5rem;
    padding: 4px 12px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-authcredentials:focus {
    background: var(--foreground);
    transition: all 0.3s ease-in-out;
}

.modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    transition: all 0.3s ease-in-out;
    z-index: 50;
}

.modal-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.transition-normal {
    transition: all 0.3s ease-in-out;
}

.transition-fast {
    transition: all 0.15s ease-in-out;
}